<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/javaproject</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">larisashubina</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!--<property name="hbm2ddl.auto">create</property>-->

        <mapping class="ru.springboot.test.Model.User"/>
        <mapping class="ru.springboot.test.Model.Disk"/>
        <!--<mapping resource="mapping/Disk.hbm.xml"/>-->
        <!--<mapping resource="mapping/User.hbm.xml"/>-->
        <!--<mapping resource="mapping/Takenitem.hbm.xml"/>-->
    </session-factory>

</hibernate-configuration>