<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <!--<link rel="import" href="/nav.html" />-->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/add-disk">Add new disk<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/free-disk">Free disk list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/disk-taken-by-user">Disks taken by the user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/disk-taken-from-user">Disks taken from the user</a>
                </li>
            </ul>
        </div>
    </nav>
    <br /><br />
    <div class="container">
        <div class="row" th:each="item : ${disk}">
            <div class="col-4 offset-2" th:text="${item.name}"></div>
            <div class="col-4 offset-2" th:text="${item.description}"></div>
        </div>
    </div>
</body>
</html>